{% extends "header.html" %}
{% block content %}

<div class="movie-container">
  {# Display movie details #}
  <ul class="movie-info">
    <div class="movie-title"> {{ movie.name }}
      <p class="movie-date"> &middot; {{ movie.release_date }}</p>
    </div>
    <img class="movie-img" alt="alt text" src="{{ movie.image }}" />
    <li class="opacity-40 md:px-4"><b>Artist:</b> {{ movie.artists | join(", ") }}</li>
    <li class="opacity-40 md:px-4"><b>Genres:</b> {{ movie.genres | join(", ") }}</li>
    <li class="opacity-40 md:px-4"><b>Producers:</b> {{ "UNAVAILABLE" }}</li>
  </ul>

  {# Comments Section #}
  <div class="reviews">
    <h1 class="reviews-title"> Comments
      <small class="reviews-count"> {{ reviews | length }} comments </small>
    </h1>
    <ul class="review-container">
      {% for review in reviews %}
        <li class="review flex gap-2">
          <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{review.image}}" alt="User profile" />
          <div class="w-full">
            <span class="review-date">{{ review.date }}</span>
            <a class="review-commenter" href="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
              @{{ review.commenter.username }}
            </a>
            <p class="review-content">{{ review.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
      {# Comment input form #}
      <div class="container mx-auto">
        <form method="POST" action="" class="review-form">
          {{ comment_form.csrf_token }}
          <div class="form-group review-input">
            {{ comment_form.text.label }} 
            {{ comment_form.text(class="form-content", placeholder="Add a comment about the song...", id="comment-textarea") }}
            {% if comment_form.text.errors %}
              <div class="error" role="alert">
                {% for error in comment_form.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {{ comment_form.submit(class="review-button mt-4") }}
        </form>        
      </div>
    {% endif %}
  </div>

  <div class="w-0 lg:w-96">
    <h3 class="text-xl font-bold mb-4">Rate This Song</h3>
    <form method="POST" action="{{ url_for('movies.rate_song', movie_id=movie.id) }}">
        {{ rating_form.csrf_token }}
        <div class="star-rating">
          {% for subfield in rating_form.rating %}
              <input type="radio" id="{{ subfield.id }}" name="{{ subfield.name }}" value="{{ subfield.data }}" class="star-input">
              <label for="{{ subfield.id }}" class="cursor-pointer text-2xl text-gray-400 hover:text-yellow-500 transition duration-200">
                  ★
              </label>
          {% endfor %}
      </div>
        

        {{ rating_form.submit(class="review-button mt-4") }}
    </form>

    {% if rating_form.errors %}
        <div class="error" role="alert">
            <ul>
                {% for field, errors in rating_form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="social-share">
      <h3 class="text-xl font-bold mb-4">Share</h3>
      <button class="share-button">Share on Twitter</button>
      <button class="share-button">Share on Instagram</button>
      <button class="share-button">Share on Facebook</button>
    </div>

    {# Heart Button for Likes#}
<div class="heart-button-container mt-4">
    <form method="POST" action="{{ url_for('movies.like_song', movie_id=movie.id) }}">
      {{ like_form.csrf_token }}
      <input type="hidden" name="like" value="1"> 
      <button type="submit" class="heart-button large-button spaced-button">
          ❤️ <!--Once liked cannot be taken back" -->
      </button>
  </form>
</div>

    
    <div class="cool-emoji">
      <span style="--i:1;">C</span>
      <span style="--i:2;">o</span>
      <span style="--i:3;">m</span>
      <span style="--i:4;">i</span>
      <span style="--i:5;">n</span>
      <span style="--i:6;">g &nbsp</span>
      <span style="--i:7;">S</span>
      <span style="--i:8;">o</span>
      <span style="--i:9;">o</span>
      <span style="--i:10;">n</span>
      <span style="--i:11;">😎</span>
    </div>
  
  </div>
</div>

<script>
  document.getElementById("comment-textarea").addEventListener("keydown", function (e) {
    if (e.key === "Enter" && !e.shiftKey) { 
      e.preventDefault(); 
      document.getElementById("post-comment-btn").click(); 
    }
  });
</script>

{% endblock content %}
